<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Holidays</key>
	<array>
		<date>2019-12-25T05:00:00Z</date>
		<date>2019-02-18T05:00:00Z</date>
		<date>2019-05-27T04:00:00Z</date>
		<date>2019-07-04T04:00:00Z</date>
		<date>2019-09-02T04:00:00Z</date>
		<date>2019-11-28T05:00:00Z</date>
		<date>2019-11-29T05:00:00Z</date>
		<date>2020-01-01T05:00:00Z</date>
	</array>
</dict>
</plist>
